/* define the color palette at the root level */
:root {
  --bs-primary: #0073e6; /* Primary Blue */
  --bs-primary-hover: #005bb5; /* Hover Blue */
  --bs-primary-dark: #004ba0; /* Darker Blue */
  --bs-light-blue: #dce7f3; /* Light Blue */
  --bs-bg-light: #f5faff; /* Light blueish-white for background */
  --bs-white: #ffffff; /* White */
  --bs-gray-dark: #333; /* Neutral Dark Text */
  --bs-table-hover: #f0f8ff; /* Light Blue for table hover */
  --bs-shadow: rgba(0, 0, 0, 0.1); /* Light Shadow */
}

/* global styels */

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  width: 100%;
}

body {
  background-color: var(--bs-bg-light);
  color: var(--bs-gray-dark);
  font-family: 'Arial', sans-serif;
}

.wrapper {
  padding: 20px;
  min-height: 100vh;
}

/* color styles */
.color-primary-hover {
  color: var(--bs-primary-hover);
}

.color-bg-light {
  color: var(--bs-bg-light);
}

/* navbar styles */
.xdr-navbar {
  background-color: var(--bs-primary-hover);
  color: var(--bs-white);
}

.xdr-navbar .navbar-brand {
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--bs-white);
}

.xdr-navbar .navbar-brand:hover {
  color: var(--bs-light-blue);
  transform: scale(1.05);
}

.xdr-navbar .nav-link {
  color: var(--bs-white);
  font-size: 1rem;
  border-radius: 5px;
  padding: 10px 15px;
}

.xdr-navbar .nav-link:hover {
  background-color: var(--bs-primary-dark);
  color: var(--bs-white);
  font-weight: 500;
}

.xdr-navbar .navbar-toggler {
  margin: 7px 0px;
  border-color: var(--bs-primary-dark);
  border-width: 2px;
  color: var(--bs-primary-dark);
  background-color: var(--bs-primary);
}

/* table styles */
.sensors-table {
  border: 2px solid var(--bs-gray-dark) !important;
}

.sensors-table th {
  background-color: var(--bs-primary-hover) !important;
  border: 2px solid var(--bs-gray-dark) !important;
  color: var(--bs-bg-light) !important;
}

.sensors-table td {
  border: 2px solid var(--bs-gray-dark) !important;
}

/* modal styles */
.modal-header {
  background-color: var(--bs-primary-dark) !important;
  color: var(--bs-bg-light) !important;
}

.custom-hr {
  height: 2px !important;
  background-color: var(--bs-gray-dark);
  opacity: 1 !important;
}